
html {
    .rubik-iso-regular {
        font-family: "Rubik Iso", system-ui;
        font-weight: 400;
        font-style: normal;
      }           
}

body{
    margin: 0;
    background-color: #b2d8ff;    

}

header{
    background-color: #0937ff;
    color: #e8f5ff;
    padding: 2rem;
    font-family: "Madimi One", sans-serif;
    font-weight: 550;
    font-style: normal;
    margin-bottom: 50px;
}

header h1{
    font-size: 2rem;
    text-align: center;
}

.container{
    width: 400px;
    margin: 0 auto ;
    display: flex; /* Eliminar para usar en vertical*/
    justify-content: space-around;
    align-items: center; /* Eliminar para usar en vertical */
    gap: 25px; /* Eliminar para usar en vertical*/
}



.logo {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar horizontalmente */
    text-align: center; /* Centrar el texto */
}
.logo a {
    display: block;
    color: white;
    text-decoration: none;
    filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0)); /* Inicialmente sin sombra */
    transition: filter 0.5s ease; /* Transición de la sombra difuminada */
}



.logo img {
    width: 50px;
}

.logo a:hover{
    filter: drop-shadow(0px 5px 20px #ffffff); /* Agregar sombra difuminada al hacer hover */
    transition: filter 0.3s ease;
}

section article{
    transition: box-shadow 0.3s ease;
    font-family: "Montserrat", sans-serif;
    background-color: #5492ff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article h2{
    font-family: "Spline Sans", sans-serif;

}

section article:hover{
    box-shadow: 0 0.2rem 0.4rem #0a1b5c;
}

section article h2, section article p {
    margin: 1rem;
}

footer{
    background-color: #09195d;
    padding: 3rem;
    color: #e8f5ff ;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    margin-top: 50px;
    bottom: 0;
}

footer section{
    float: left;
}

footer p{
    margin: 0;
    float: right;
    font-size: 12px;
}

footer a{
    transition: color 0.5s ease;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

footer a:hover{
    color: #5492ff;

}

.social-link a{
    color:#e8f5ff;
    float: left;
    display: flex;
    font-size: 18px;
}

#pag2 {
    background-color: #0937ff;
    color: #e8f5ff;
    padding: 5px 10px;
    font-family: "Madimi One", sans-serif;
    font-weight: 550;
    font-style: normal;
    margin-bottom: 50px;
    margin-top: 0px;
}


#pag2 h1 {
    font-size: 2rem;
    text-align: left;
}

.logo2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; /* Centrar horizontalmente */
    text-align: left; /* Centrar el texto */
    margin-top: 0; /* Elimina cualquier margen superior predeterminado */
}
.logo2 a {
    display: block;
    color: white;
    text-decoration: none;
    filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0)); /* Inicialmente sin sombra */
    transition: filter 0.5s ease; /* Transición de la sombra difuminada */
}



.logo2 img {
    width: 50px;
}

.logo2 a:hover{
    filter: drop-shadow(0px 5px 20px #ffffff); /* Agregar sombra difuminada al hacer hover */
    transition: filter 0.3s ease;
}