
html {
    .rubik-iso-regular {
        font-family: "Rubik Iso", system-ui;
        font-weight: 400;
        font-style: normal;
      }           
}

body{
    margin: 0;
    background-color: #b2d8ff;    

}

header{
    background-color: #0937ff;
    color: #e8f5ff;
    padding: 2rem;
    font-family: "Madimi One", sans-serif;
    font-weight: 550;
    font-style: normal;
    margin-bottom: 50px;
}

header h1{
    font-size: 2rem;
    text-align: center;
}

.container{
    width: 400px;
    margin: 0 auto ;
    display: flex; /* Eliminar para usar en vertical*/
    justify-content: space-around;
    align-items: center; /* Eliminar para usar en vertical */
    gap: 25px; /* Eliminar para usar en vertical*/
}



.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 50px;
    margin: 0 auto;
}


section article{
    transition: box-shadow 0.3s ease;
    font-family: "Montserrat", sans-serif;
    background-color: #5492ff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article h2{
    font-family: "Spline Sans", sans-serif;

}

section article:hover{
    box-shadow: 0 0.2rem 0.4rem #0a1b5c;
}

section article h2, section article p {
    margin: 1rem;
}

footer{
    background-color: #09195d;
    padding: 3rem;
    color: #e8f5ff ;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    margin-top: 55px;
    bottom: 0;
}

footer section{
    float: right;
}

footer p{
    margin: 0;
    float: left;
    font-size: 12px;
}

footer a{
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

footer a:hover{
    color: #5492ff;

}

.social-link a{
    color:#e8f5ff;
    float: right;
    display: flex;
    font-size: 18px;
}
