html, body {
    height: 100%;
    margin: 0;
    .rubik-iso-regular {
        font-family: "Rubik Iso", system-ui;
        font-weight: 400;
        font-style: normal;
    } 
           
}


.body{
    display: flex;
    flex-direction: column;
    background: rgb(201,153,175);
    background: radial-gradient(circle, rgba(201,153,175,1) 0%, rgba(255,224,255,1) 0%, rgba(224,232,255,1) 100%);
    min-height: 100vh;
}
body{
    margin: 0;
    background-color: #b2d8ff;    
    width: auto;
}


header{
    /*background-color: #b109ff;*/
    color: #e8f5ff;
    padding: 2rem;
    font-family: "Madimi One", sans-serif;
    font-weight: 550;
    font-style: normal;

}

header h1{
    font-size: 3rem;
    text-align: center;
    color: black;
}

.container{
    width: 400px;
    margin: 0 auto ;
    display: flex;
    justify-content: space-around;
    align-items: center; /* Eliminar para usar en vertical */
    gap: 25px;  /*Eliminar para usar en vertical*/
}



.logo {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar horizontalmente */
    text-align: center; /* Centrar el texto */
}
.logo a {
    display: block;
    color: white;
    text-decoration: none;
    filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0)); /* Inicialmente sin sombra */
    transition: filter 0.5s ease; /* Transición de la sombra difuminada */
}



.logo img {
    width: 50px;
}

.logo a:hover{
    filter: drop-shadow(0px 5px 20px #ffffff); /* Agregar sombra difuminada al hacer hover */
    transition: filter 0.3s ease;
}

section article{
    transition: box-shadow 0.3s ease;
    font-family: "Montserrat", sans-serif;
    background-color: #eac7f3;
    /*margin: 1rem 0;*/
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article h2{
    font-family: "Spline Sans", sans-serif;

}

section article:hover{
    box-shadow: 0 0.2rem 0.4rem #af60af;
}

section article h2, section article p {
    margin: 1rem;
}

footer{
    background-color: #c999af
    ;
    padding: 3rem;
    color: #e8f5ff ;
    font-family: "Montserrat", sans-serif;
    margin-top: auto;
    height: 10px; 
}



footer p{
    margin: 0;
    float: right;
    font-size: 12px;
}

footer a{
    transition: color 0.5s ease;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

footer a:hover{
    color: #5492ff;

}

.social-link a{
    color:#e8f5ff;
    float: left;
    display: flex;
    font-size: 18px;
}

#pag2 {
    background-color: #c999af;
    color: #ffe0ff;
    /*padding: 5px 10px;*/
    font-family: "Madimi One", sans-serif;
    font-weight: 550;
    font-style: normal;
    margin-bottom: 82px;
    margin-top: 0px;
}


#pag2 h1 {
    font-size: 3rem;
    text-align: left;
    font-family:"Madimi One", sans-serif ;
}


.logo2{
    padding-bottom: 100px;
    float: left;
    padding-right: 10px;
}

.logo2 a {
    color: white;
    text-decoration: none;
    filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0)); /* Inicialmente sin sombra */
    transition: filter 0.5s ease; /* Transición de la sombra difuminada */
}



.logo2 img {
    width: 80px;
}

.logo2 a:hover{
    filter: drop-shadow(0px 5px 20px #ffffff); /* Agregar sombra difuminada al hacer hover */
    transition: filter 0.3s ease;
}
.my-button {
    padding: 10px 10px;
    background-color: #e3b1c8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .my-button:hover {
    background-color: 
    #ee93e683;
  }
  
  .my-button:active {
    background-color: #c999af;
  }

  #contenedor-carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    background-color: black; /* Replace #yourColor with your desired color code */
  }

/*Estilos generales*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    font-weight: bold;
  }
  
  p {
    line-height: 1.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  img {
    max-width: 100%;
  }
  
  /*Estilos para las secciones*/
  header {

    color: #ffffff;
    text-align: center;
    padding: 20px 0;
  }
  
  .biografia {
    padding: 20px;
  }
  
  .carrusel {
    padding: 20px;
  }
  
  .contenedor-imagenes {
    display: flex;
    overflow-x: auto;
  }
  
  .contenedor-imagenes img {
    margin: 10px;
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  .logros {
    padding: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 5px;
  }
  
  .biografia {
    display: grid;
    place-items: center;
  }
  
  .biografia img {
    max-width: 100%;
  }

  .carrusel{
    display: grid;
    place-items: center;
  }
  .contacto {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Madimi One", sans-serif;
  }
  
  .contacto h2 {
    text-align: center;
    margin-top: 0;
    font-family:"Madimi One", sans-serif;
    font-size: 2rem;
  }
  
  .contacto form {
    margin-top: 20px;
  }
  
  .contacto label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contacto input,
  .contacto textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .contacto textarea {
    height: 100px;
  }
  
  .contacto button {
    background-color: #c999af;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Madimi One", sans-serif;
  }
  
  .contacto button:hover {
    background-color: #333333;
  }
  .carta {
    width: 800px;
    height: 780px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .carta h1 {
    margin-top: 0;
    font-family: "Madimi One", sans-serif;
  }
  .faker h2{
    color: rgb(41, 40, 40);
  }
  
  .carta p {
    text-align: justify;
  }
  
  .carta h3 {
    margin-top: 20px;
    font-family: "Madimi One", sans-serif;
  }
  
  .carta ul {
    list-style: none;
    padding: 0;
  }
  
  .carta li {
    padding: 5px;
  }
  
  
