#modal-container {
  display: none; /* Ocultar el modal por defecto */
}

.modal-content {
  max-width: 80vw;
  max-height: 80vh;
  overflow-y: auto;
}

#modal-close {
  cursor: pointer;
}
.custom-text {
  color: #9DABB8; /* Cambia el color del texto */
  font-family: 'Inter', 'Noto Sans', sans-serif;
  font-size: 14px; /* Cambia el tamaño de la fuente */
}

.titulo_project{
  color: #ffffff; /* Cambia el color del texto */
  font-family: 'Inter', 'Noto Sans', sans-serif;
  font-size: 16px; /* Cambia el tamaño de la fuente */
}
